.sliderComp {
    width: 1000px;
    /* height: 50px; */
    background: linear-gradient(
        90.14deg,
        rgba(20, 23, 38, 0.17) 0%,
        rgba(217, 217, 217, 0.12) 100%
    );
    border-radius: 5px;
}


.sliderSlide {
  @apply w-full;
  -webkit-appearance:none;
  appearance:none;
  background: linear-gradient(
        90.14deg,
        rgba(20, 23, 38, 0.17) 0%,
        rgba(217, 217, 217, 0.12) 100%
    );
}

.sliderSlide::-webkit-slider-runnable-track {
  background: linear-gradient(
        to right,
        rgba(20, 23, 38, 0.17) 0%,
        rgba(217, 217, 217, 0.12) 100%
    );
    height: 1.5px;
}

.sliderSlide::-moz-range-track {
  background: linear-gradient(
        to right,
        rgba(20, 23, 38, 0.17) 0%,
        rgba(217, 217, 217, 0.12) 100%
    );

    height: 1.5px;
}

.sliderSlide::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   @apply bg-[#5d6182] w-[40px] h-[30px] rounded-[1px] 
   border border-[rgba(0,0,0,0.04)] z-[50];
   margin-top: -15px;
   opacity: 0.4;
}
.bubble{
  position:absolute;
  pointer-events: none;
}

.parent{
  position:relative;
}


.graphBgBorder {
  @apply w-full h-full absolute left-0 top-0 z-40 ;
  background-image: url('../../../../../public/assets/new-images/Profile-Graph/background-border.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}