@tailwind base;
@tailwind components;
@tailwind utilities;
/* new design 2.0 ------------------------------------------------------------------------------------------- */
/* custom fonts  */
/* gotham fonts  */
@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 100;
    src: url("/assets/fonts/Gotham/GothamLight.woff2") format("woff2");
}
@font-face {
    font-family: "Gotham";
    font-style: italic;
    font-weight: 100;
    src: url("/assets/fonts/Gotham/GothamLightItalic.woff2") format("woff2");
}
@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Gotham/GothamBook.woff2") format("woff2");
}
@font-face {
    font-family: "Gotham";
    font-style: italic;
    font-weight: 400;
    src: url("/assets/fonts/Gotham/GothamBookItalic.woff2") format("woff2");
}
@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/old-images/fonts/Gotham/GothamMedium.woff2")
        format("woff2");
}
@font-face {
    font-family: "Gotham";
    font-style: italic;
    font-weight: 500;
    src: url("/assets/old-images/fonts/Gotham/GothamMediumItalic.woff2")
        format("woff2");
}
@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/Gotham/GothamBold.woff2") format("woff2");
}
@font-face {
    font-family: "Gotham";
    font-style: italic;
    font-weight: 700;
    src: url("/assets/fonts/Gotham/GothamBoldItalic.woff2") format("woff2");
}

/* nedgen fonts  */
@font-face {
    font-family: "NEDGEN";
    font-style: normal;
    src: url("/assets/old-images/fonts/Nedgen/nedgen.woff2") format("woff2");
}

/* sf pro fonts  */
@font-face {
    font-family: "sf-pro-text";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/old-images/fonts/Sf-pro-display/Sf-pro-display-regular.woff2")
        format("woff2");
}
@font-face {
    font-family: "sf-pro-text";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/old-images/fonts/Sf-pro-display/Sf-pro-display-medium.woff2")
        format("woff2");
}
@font-face {
    font-family: "sf-pro-text";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/old-images/fonts/Sf-pro-display/Sf-pro-display-bold.woff2")
        format("woff2");
}
/* mazin fonts  */
@font-face {
    font-family: "mazin";
    font-style: normal;
    font-weight: 900;
    src: url("/assets/old-images/fonts/Mazin/Black.woff2") format("woff2");
}
@font-face {
    font-family: "mazin";
    font-style: normal;
    font-weight: 800;
    src: url("/assets/old-images/fonts/Mazin/ExtraBold.woff2") format("woff2");
}
@font-face {
    font-family: "mazin";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/old-images/fonts/Mazin/Bold.woff2") format("woff2");
}
@font-face {
    font-family: "mazin";
    font-style: normal;
    font-weight: 600;
    src: url("/assets/old-images/fonts/Mazin/Medium.woff2") format("woff2");
}
@font-face {
    font-family: "mazin";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/old-images/fonts/Mazin/Regular.woff2") format("woff2");
}
@font-face {
    font-family: "mazin";
    font-style: normal;
    font-weight: 200;
    src: url("/assets/old-images/fonts/Mazin/Thin.woff2") format("woff2");
}
@font-face {
    font-family: "mazin";
    font-style: normal;
    font-weight: 100;
    src: url("/assets/old-images/fonts/Mazin/Light.woff2") format("woff2");
}
@font-face {
    font-style: normal;
    font-family: "inter";
    /* font-weight: 700; */
    /* src: url("/assets/old-images/fonts/Inter/Inter-bold.woff2") format("woff2"); */
    src: url("/assets/old-images/fonts/Inter/Inter.woff2") format("woff2");
}

/* global font component  */
@layer components {
    /* typography  */
    .gotham-mid-50 {
        @apply font-gotham font-medium text-[50px] leading-[56px];
    }
    .gotham-mid-30 {
        @apply font-gotham font-medium text-[30px] leading-[33px];
    }
    .gotham-mid-25 {
        @apply font-gotham text-[25px] leading-[27px] font-medium;
    }
    .gotham-mid-22 {
        @apply font-gotham text-[22px] leading-[26px] font-medium;
    }
    .gotham-mid-21 {
        @apply font-gotham text-[21px] leading-[23px] font-medium;
    }
    .gotham-mid-18 {
        @apply font-gotham text-[18px] leading-[21px] font-medium;
    }
    .gotham-mid-16 {
        @apply font-gotham text-[16px] leading-[18px] font-medium;
    }
    .gotham-mid-15 {
        @apply font-gotham text-[15px] leading-[17px] font-medium;
    }
    .gotham-mid-9 {
        @apply font-gotham text-[9px] leading-[10px] font-medium;
    }
    .sf-bold-40 {
        @apply font-sf-pro-text font-bold text-[40px] leading-[48px];
    }
    .sf-bold-27 {
        @apply font-sf-pro-text font-bold text-[27px] leading-[36px];
    }
    .sf-bold-24 {
        @apply font-sf-pro-text font-bold text-[24px] leading-[28px];
    }
    .sf-bold-23 {
        @apply font-sf-pro-text font-bold text-[23px] leading-[28px];
    }
    .sf-bold-21 {
        @apply font-sf-pro-text font-bold text-[21px] leading-[25px];
    }
    .sf-bold-20 {
        @apply font-sf-pro-text font-bold text-[20px] leading-[24px];
    }
    .sf-bold-19 {
        @apply font-sf-pro-text font-bold text-[19px] leading-[23px];
    }
    .sf-bold-18 {
        @apply font-sf-pro-text font-bold text-[18px] leading-[22px];
    }
    .sf-bold-16 {
        @apply font-sf-pro-text font-[500] text-[16px] leading-[19px];
    }
    .sf-bold-15 {
        @apply font-sf-pro-text font-bold text-[15px] leading-[20px];
    }
    .sf-bold-14 {
        @apply font-sf-pro-text font-bold text-[14px] leading-[18px];
    }
    .sf-bold-12 {
        @apply font-sf-pro-text text-[12px] leading-[14px] font-bold;
    }
    .sf-bold-11 {
        @apply font-sf-pro-text font-bold text-[11px] leading-[10px];
    }
    .sf-bold-10 {
        @apply font-sf-pro-text font-bold text-[10px] leading-[12px];
    }
    .sf-bold-6 {
        @apply font-sf-pro-text font-bold text-[6px] leading-[7px];
    }
    .sf-mid-41 {
        @apply font-sf-pro-text font-medium text-[41px] leading-[49px];
    }
    .sf-mid-31 {
        @apply font-sf-pro-text font-medium text-[31px] leading-[37px];
    }
    .sf-mid-21 {
        @apply font-sf-pro-text font-medium text-[21px] leading-[25px];
    }
    .sf-mid-20 {
        @apply font-sf-pro-text font-medium text-[20px] leading-[24px];
    }
    .sf-mid-18 {
        @apply font-sf-pro-text font-medium text-[18px] leading-[21px];
    }
    .sf-mid-16 {
        @apply font-sf-pro-text font-medium text-[16px] leading-[19px];
    }
    .sf-mid-14 {
        @apply font-sf-pro-text font-medium text-[14px] leading-[16px];
    }
    .sf-mid-3 {
        @apply font-sf-pro-text font-medium text-[3px] leading-[4px];
    }
    .sf-regular-25 {
        @apply font-sf-pro-text text-[25px] leading-[30px];
    }
    .sf-regular-14 {
        @apply font-sf-pro-text text-[14px] leading-[16px];
    }
    .sf-regular-10 {
        @apply font-sf-pro-text text-[10px] leading-[12px];
    }
    .nedgen-regular-80 {
        @apply font-NEDGEN text-[80px] leading-[92px];
    }
    .nedgen-regular-60 {
        @apply font-NEDGEN text-[60px] leading-[69px];
    }
    .nedgen-regular-24 {
        @apply font-NEDGEN text-[24px] leading-[27px];
    }
    .nedgen-regular-14 {
        @apply font-NEDGEN text-[14px] leading-[16px];
    }
    .nedgen-regular-10 {
        @apply font-NEDGEN text-[10px] leading-[12px];
    }
    .nedgen-regular-5 {
        @apply font-NEDGEN text-[5px] leading-[6px];
    }
    .mazin-bold-30 {
        @apply font-mazin font-bold text-[30px] leading-[38px];
    }
    .mazin-bold-21 {
        @apply font-mazin font-bold text-[21px] leading-[27px];
    }
    .mazin-bold-16 {
        @apply font-mazin font-bold text-base leading-5;
    }
    .mazin-bold-14 {
        @apply font-mazin font-bold text-[14px] leading-[18px];
    }
    .mazin-bold-12 {
        @apply font-mazin font-bold text-[12px] leading-[15px];
    }
    .mazin-bold-10 {
        @apply font-mazin text-[10px] leading-[13px] font-[600];
    }
    .inter-bold-14 {
        @apply font-inter text-[14px] leading-[20px] font-bold;
    }
    .inter-bold-10 {
        @apply font-inter text-[10px] leading-[140%] font-bold;
    }
    /* container  */
    .container {
        /* @apply laptop:pl-[50px]; */
    }
    /* portal  */
    #portal {
        /* @apply w-screen h-screen bg-[#140a2272] absolute left-0 top-0 z-[100]; */
        @apply smTablet:hidden;
    }
    body {
        @apply bg-background overflow-x-hidden;
    }
    /* button  */
    .btn {
        @apply laptop:py-[16px] capitalize
        rounded-[5px] laptop:px-[14px] laptop:font-gotham laptop:font-medium laptop:text-[15px] laptop:leading-[17px];
    }

    /* profile components ------------------- */
    .coverImg_mask {
        background: transparent
            linear-gradient(180deg, #140f1014 0%, #140a22 100%) 0% 0% no-repeat
            padding-box;
    }

    /* hover discription style  */
    .hover-dis stats,
    .hover-dis li,
    .hover-dis maintext {
        @apply font-sf-pro-text text-[14px] leading-[16px] font-[500] text-white;
    }
    .hover-dis stats attention {
        @apply text-[#ff4256];
    }
    .hover-dis li {
        list-style: none;
        margin-top: 12px;
    }
    .hover-dis li passive,
    .hover-dis raritymythic,
    .hover-dis active {
        font-weight: 700;
    }
    .hover-dis p {
        @apply text-white;
    }
}
