.mainWrapper {
    background-color: #120924;
}

@media screen and (min-width: 1366px) {
    .mainWrapper {
        background: #120924
            url("/assets/new-images/landing-page/gradient-bg.png") no-repeat
            center center;
        background-size: cover;
    }
}
